:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
    --verde-opaco: #BAD89A;
    --verde-hover: #62773E;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.section_anuncio h2 {
    display: none;
}

.section_anuncio {
    display: block;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.section_anuncio_articulo img {
    width: 25%;
}

.section_anuncio_articulo {
    text-align: center;
    border: 1px solid #196eb4;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_anuncio_articulo h3 {
    text-align: center;
}

.caja_botones {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    gap: 30px;
}

#imagen-apple {
    margin-top: 5px;
}

.btn_save {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: var(--color-oscuro);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_mensaje {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_view {
    padding: 10px 35px 10px 35px;
    margin-bottom: 5px;
    background-color: var(--verde-opaco);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_mensaje:hover {
    background-color: var(--color-azul-hover);
}

.btn_save:hover {
    background-color: var(--color-oscuro-hover);
}

.btn_view:hover {
    background-color: var(--verde-hover);
}

.btn_save, .btn_mensaje, .btn_view {
    transition: var(--tiempo-animacion);
}

#imagen-computadoras {
    width: 30%;
}

#imagen-juguete {
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        font-family: Arial, Helvetica, sans-serif;
    }

    .section_anuncio h2 {
        display: none;
    }

    .section_anuncio {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
    }

    .section_anuncio_articulo img {
        width: 25%;
    }

    .section_anuncio_articulo {
        text-align: center;
        border: 1px solid #196eb4;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 45%;
    }

    .section_anuncio_articulo h3 {
        text-align: center;
    }

    .caja_botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-left: 20px;
    }

    #imagen-apple {
        margin-top: 5px;
    }

    .btn_save {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-oscuro);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-azul);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_view {
        padding: 10px 35px 10px 35px;
        margin-bottom: 5px;
        background-color: var(--verde-opaco);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje:hover {
        background-color: var(--color-azul-hover);
    }

    .btn_save:hover {
        background-color: var(--color-oscuro-hover);
    }

    .btn_view:hover {
        background-color: var(--verde-hover);
    }

    .btn_save, .btn_mensaje, .btn_view {
        transition: var(--tiempo-animacion);
    }

    #imagen-computadoras {
        width: 30%;
    }

    #imagen-juguete {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .container {
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .section_anuncio h2 {
        display: none;
    }

    .section_anuncio {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
    }

    .section_anuncio_articulo img {
        width: 25%;
    }

    .section_anuncio_articulo {
        text-align: center;
        border: 1px solid #196eb4;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
    }

    .section_anuncio_articulo h3 {
        text-align: center;
    }

    .caja_botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-right: 0px;
        margin-left: 30px;
    }

    #imagen-apple {
        margin-top: 5px;
    }

    .btn_save {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-oscuro);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-azul);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_view {
        padding: 10px 35px 10px 35px;
        margin-bottom: 5px;
        background-color: var(--verde-opaco);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje:hover {
        background-color: var(--color-azul-hover);
    }

    .btn_save:hover {
        background-color: var(--color-oscuro-hover);
    }

    .btn_view:hover {
        background-color: var(--verde-hover);
    }

    .btn_save, .btn_mensaje, .btn_view {
        transition: var(--tiempo-animacion);
    }

    #imagen-computadoras {
        width: 30%;
    }

    #imagen-juguete {
        margin-top: 20px;
    }

}