.contenedor-chat {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.anuncios {
  margin-bottom: 1rem;
}

.anuncio {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 6px;
  cursor: pointer;
}

.anuncio:hover {
  background-color: #d2d2d2;
}

.chat-section {
  display: none;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.chat-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.chat-mensajes {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.mensaje-propio {
  text-align: right;
  background-color: #dcf8c6;
  margin: 4px;
  padding: 5px 10px;
  border-radius: 12px;
}

.mensaje-ajeno {
  text-align: left;
  background-color: #f1f0f0;
  margin: 4px;
  padding: 5px 10px;
  border-radius: 12px;
}

.chat-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-bottom: 0.5rem;
}

.send-btn {
  background-color: #196eb4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.send-btn:hover {
  background-color: #033157;
}