:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
}

hr {
    height: 3px;
    border: none;
    background-color: #0180FF;
}

footer {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: var(--color-blanco);
}

@media (min-width: 768px) and (max-width: 991px) {
    hr {
        height: 3px;
        border: none;
        background-color: #0180FF;
    }

    footer {
        background-color: var(--color-azul);
        color: var(--color-blanco);
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
    }

    a {
        text-decoration: none;
        color: var(--color-blanco);
    }
}

@media (min-width: 992px) {
    hr {
        height: 3px;
        border: none;
        background-color: #0180FF;
    }

    footer {
        background-color: var(--color-azul);
        color: var(--color-blanco);
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
    }

    a {
        text-decoration: none;
        color: var(--color-blanco);
    }

}
