:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
    --verde-opaco: #BAD89A;
    --verde-hover: #62773E;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.section_anuncio h2 {
    display: none;
}

.section_anuncio {
    display: block;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.section_anuncio_articulo img {
    width: 25%;
}

.section_anuncio_articulo {
    text-align: center;
    border: 1px solid #196eb4;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_anuncio_articulo h3 {
    text-align: center;
}

.caja_botones {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

#imagen-apple {
    margin-top: 5px;
}

.btn_save {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: var(--color-oscuro);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_mensaje {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_view {
    padding: 10px 35px 10px 35px;
    margin-bottom: 5px;
    background-color: var(--verde-opaco);
    color: var(--color-blanco);
    border: 0px solid;
}

.btn_mensaje:hover {
    background-color: var(--color-azul-hover);
}

.btn_save:hover {
    background-color: var(--color-oscuro-hover);
}

.btn_view:hover {
    background-color: var(--verde-hover);
}

.btn_save, .btn_mensaje, .btn_view {
    transition: var(--tiempo-animacion);
}

#imagen-computadoras {
    width: 30%;
}

#imagen-juguete {
    margin-top: 20px;
}


.subcategorias {
    display: none;
    position: absolute;
    top: 80%;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    flex-direction: column;
    gap: 3px;
    margin-left: -20px;
    width: 80px;
}

.subcategorias button {
    display: block;
    width: 100%;
    padding: 10px 75px 10px 25px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    margin: 1px -50px 1px -10px;
    background-color: var(--color-azul);
    color: white;
}

.subcategorias button:hover {
    background-color: var(--color-azul-hover);
}

/* Mostrar cuando no tenga la clase oculto */
.subcategorias:not(.oculto) {
    display: flex;
}

.oculto {
    display: none;
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        font-family: Arial, Helvetica, sans-serif;
    }

    .section_anuncio h2 {
        display: none;
    }

    .section_anuncio {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
    }

    .section_anuncio_articulo img {
        width: 25%;
    }

    .section_anuncio_articulo {
        text-align: center;
        border: 1px solid #196eb4;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 45%;
    }

    .section_anuncio_articulo h3 {
        text-align: center;
    }

    .caja_botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-left: 80px;
    }

    #imagen-apple {
        margin-top: 5px;
    }

    .btn_save {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-oscuro);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-azul);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_view {
        padding: 10px 35px 10px 35px;
        margin-bottom: 5px;
        background-color: var(--verde-opaco);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje:hover {
        background-color: var(--color-azul-hover);
    }

    .btn_save:hover {
        background-color: var(--color-oscuro-hover);
    }

    .btn_view:hover {
        background-color: var(--verde-hover);
    }

    .btn_save, .btn_mensaje, .btn_view {
        transition: var(--tiempo-animacion);
    }

    #imagen-computadoras {
        width: 30%;
    }

    #imagen-juguete {
        margin-top: 20px;
    }

    .subcategorias {
        display: none;
        position: absolute;
        top: 80%;
        left: 0;
        padding: 10px;
        border-radius: 5px;
        z-index: 100;
        flex-direction: column;
        gap: 3px;
        margin-left: -20px;
        width: 80px;
    }

    .subcategorias button {
        display: block;
        width: 100%;
        padding: 10px 75px 10px 25px;
        background: #ffffff;
        border: none;
        cursor: pointer;
        margin: 1px -50px 1px -10px;
        background-color: var(--color-azul);
        color: white;
    }

    .subcategorias button:hover {
        background-color: var(--color-azul-hover);
    }

    /* Mostrar cuando no tenga la clase oculto */
    .subcategorias:not(.oculto) {
        display: flex;
    }

    .oculto {
        display: none;
    }

}

@media (min-width: 992px) {
    .container {
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .section_anuncio h2 {
        display: none;
    }

    .section_anuncio {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
    }

    .section_anuncio_articulo img {
        width: 25%;
    }

    .section_anuncio_articulo {
        text-align: center;
        border: 1px solid #196eb4;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
    }

    .section_anuncio_articulo h3 {
        text-align: center;
    }

    .caja_botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-right: 0px;
        margin-left: 30px;
    }

    #imagen-apple {
        margin-top: 5px;
    }

    .btn_save {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-oscuro);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje {
        padding: 10px 20px 10px 20px;
        margin-bottom: 5px;
        background-color: var(--color-azul);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_view {
        padding: 10px 35px 10px 35px;
        margin-bottom: 5px;
        background-color: var(--verde-opaco);
        color: var(--color-blanco);
        border: 0px solid;
    }

    .btn_mensaje:hover {
        background-color: var(--color-azul-hover);
    }

    .btn_save:hover {
        background-color: var(--color-oscuro-hover);
    }

    .btn_view:hover {
        background-color: var(--verde-hover);
    }

    .btn_save, .btn_mensaje, .btn_view, .subcategorias {
        transition: var(--tiempo-animacion);
    }

    #imagen-computadoras {
        width: 30%;
    }

    #imagen-juguete {
        margin-top: 20px;
    }

    .subcategorias {
        display: none;
        position: absolute;
        top: 80%;
        left: 0;
        padding: 10px;
        border-radius: 5px;
        z-index: 100;
        flex-direction: column;
        gap: 3px;
        margin-left: -20px;
        width: 80px;
    }

    .subcategorias button {
        display: block;
        width: 100%;
        padding: 10px 75px 10px 25px;
        background: #ffffff;
        border: none;
        cursor: pointer;
        margin: 1px -50px 1px -10px;
        background-color: var(--color-azul);
        color: white;
    }

    .subcategorias button:hover {
        background-color: var(--color-azul-hover);
    }

    /* Mostrar cuando no tenga la clase oculto */
    .subcategorias:not(.oculto) {
        display: flex;
    }

    .oculto {
        display: none;
    }

    #mis-anuncios {
        margin-left: 65px;
    }

    .caja_botones {
        margin-bottom: 5px;
    }

    .btn_editar {
        background-color: #FFF091;
        padding: 10px 20px 10px 20px;
        color: white;
    }

    .btn_toggle_estado {
        background-color: #FFA360;
        padding: 10px 20px 10px 20px;
        color: white;
    }

    .btn_eliminar {
        background-color: #FF7676;
        padding: 10px 20px 10px 20px;
        color: white;
    }

    .btn_editar:hover {
        background-color: #FFD401;
    }

    .btn_toggle_estado:hover {
        background-color: #FC4B08;
    }

    .btn_eliminar:hover {
        background-color: #E00000;
    }

    .btn_eliminar, .btn_editar, .btn_toggle_estado {
        transition: var(--tiempo-animacion);
    }
}