:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
}

.btnAbrirChat {
    background-color: #28a745;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-left: 2px;
    border-radius: 5px;
}

.btnAbrirChat:hover {
    background-color: #218838;
}

.btn-ver-chat {
    background-color: #28a745;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-left: 2px;
    border-radius: 5px;
}

.btn-ver-chat:hover {
    background-color: #218838;
}

.btn-ver-chat, .btnAbrirChat {
    transition: var(--tiempo-animacion);
}