:root {
    --color-azul: #196eb4;
    --color-azul-hover: #033157;
    --color-blanco: #FFFFFF;
    --color-oscuro: #363636;
    --color-oscuro-hover: #070707;
    --tiempo-animacion:300ms;
}

main {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo_facebook {
    width: 3%;
    height: 3%;
}

.navbar__title {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


